body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Public Sans', sans-serif;
    background: linear-gradient(321.48deg, rgba(255, 92, 0, 0.5) -22.6%, rgba(250, 195, 54, 0.5) 67.78%), #FAC336;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#root>div[data-rk] {
  height: 100%;
  width: 100%;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
}

label,
input,
select {
  font-size: 18px;
  font-family: inherit;
  }
  
  input,
  select {
  font-weight: bold;
}

input,
select,
input:focus,
select:focus {
  padding: 12px 8px;
  outline: none;
  border: 2px solid #000;
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

button {
  padding: 4px 8px;
  cursor: pointer;
  font-family: inherit;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: inherit;
}
