[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.3
[submodule "packages/contracts/lib/solmate"]
	path = packages/contracts/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "packages/contracts/lib/BokkyPooBahsDateTimeLibrary"]
	path = packages/contracts/lib/BokkyPooBahsDateTimeLibrary
	url = https://github.com/bokkypoobah/BokkyPooBahsDateTimeLibrary
