{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "proseWrap": "always",
  "semi": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.{yaml,yml,md}",
      "options": {
        "printWidth": 100,
        "tabWidth": 2
      }
    }
  ]
}
